<div class="card">
	<div class="card-body">
		
		<!-- Title -->
		<h5 class="card-title">{{type.toUpperCase()}}</h5>
					
		<!-- Filters -->
		<div class="form-row">
			<div class="col-sm-6">
				<input type="text" class="form-control form-control-sm"
					placeholder="Filter amount" ng-model="searchAmount">              
			</div>
			<div class="col-sm-6">
				<input type="text" class="form-control form-control-sm"
					placeholder="Filter description" ng-model="searchDesc">
			</div>			           
		</div>		
		
		<p class="card-text">
			<p>Sum of displayed items: <strong>{{totalAmount}}</strong></p>
			<ul class="list-group">
				<!-- List of items -->
				<li id="{{item.id}}" title="{{months[item.month]}} {{item.year}}"
					class="list-group-item py-1 d-flex justify-content-between"
					ng-repeat="item in items | 
					filter:{ year: year, month: month, amount: searchAmount, desc: searchDesc } as results">
					
					<!-- item amount -->
					<span class="amount text-right" >{{item.amount}}</span>
					
					<!-- item descrition -->
					<span class="desc">{{item.desc}}</span>                
					
					<!-- edit/delete icons -->
					<span class="float-right">                        
						<a href="#" class="btn btn-sm" title="Edit" ng-click="editItem($event)">
							<i class="far fa-edit"></i>
						</a>
						<a href="#" class="btn btn-sm" title="Delete" ng-click="deleteItem($event)">
							<i class="far fa-trash-alt"></i>
						</a>
					</span>         
				</li>
			</ul>          
		</p>       
		
		<!-- "Add item" form -->          
		<form name="addForm" ng-submit="addItem()" novalidate>            
			<div class="form-row">                
				
				<!-- Input field for "amount"-->
				<div class="form-group col-md-6">               
					<input type="number" class="form-control form-control-sm"
						placeholder="Amount" ng-model="amount" ng-required="true">
				</div>
				
				<!-- Input field for "description" -->
				<div class="form-group col-md-6">               
					<input type="text" class="form-control form-control-sm"
						placeholder="Description" ng-model="desc" ng-required="true">
				</div>                                       
			</div>                              
			
			<!-- Submit button -->
			<button class="btn btn-sm btn-primary">Add item</button>
			
			<!-- form validation alerts -->
			<small ng-show="addFormAlert">
				Required fields: year, month, amount, description             
			</small>
			<small ng-show="addFormAlertZero">
				Amount cannot be zero             
			</small>          
		</form>        

	</div>
</div>
